{# templates/bundles/EasyAdminBundle/layout.html.twig #}

{# DON'T DO THIS: it will cause an infinite loop #}

{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% extends '@!EasyAdmin/layout.html.twig' %}


{% block body %}

    <link rel="stylesheet" type="text/css" href="{{asset('/styles/header.css')}}"/>

    <header class="devjobs-header">
        <a href="/"><h1>devjobs</h1></a>
    </header>
    
    {{ parent() }}

{% endblock body %}
